
<section class="main-content">
  
{%section 'featured-image-blog'%}  
 {%section 'custom-html'%}
{% section 'blog-template-gg'%}  
   {% section 'blog-posts-gg2'%}  
{%section 'blog-heading'%}

  {%section 'featured-collection'%}






  
</section>