<!-- /templates/page.liquid -->

<style>
  #MainContent{
    padding-top: 0px;
  }
</style>
{% section 'page-animal-image' %}
<div class="wrapper wrapper--medium" style="margin-top: 40px;">
	<div class="rte">
		{{ page.content }}
	</div>
</div>