<div class="footer-copyright">
  <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0080/5679/9347/files/MB_Logo_2021_002.png?v=1623955894" alt="maddiebrit product logo" width="250" height=100"> <br>
  <span>&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</span>
  <span>{{ powered_by_link }}</span>
</div>